@font-face {
        font-family:tregular;
        src: url(font/Titillium-Regular.otf);
}
.tregular{
    font-family:tregular;
}
@font-face {
        font-family:tlight;
        src: url(font/TTitillium-Light.otf);
}
.tlight{
    font-family:tlight;
}
@font-face {
        font-family:tbold;
        src: url(font/Titillium-Bold.otf);
}
.tbold{
    font-family:tbold;
}

@font-face {
        font-family:tblack;
        src: url(font/Titillium-Black.otf);
}
.tblack{
    font-family:tblack;
}

@font-face {
        font-family:tthin;
        src: url(font/Titillium-Thin.otf);
}
.tthin{
    font-family:tthin;
}


@font-face {
        font-family:tsemibolditalic;
        src: url(font/Titillium-SemiboldItalic.otf);
}
.tsemibolditalic{
    font-family:tsemibolditalic;
}

@font-face {
        font-family:tlit;
        src: url(font/tfont/TitilliumWeb-Light.ttf);
}
.tlit{
    font-family:tlit;
}


@font-face {
        font-family:tsemibold;
        src: url(font/tfont/TitilliumWeb-SemiBold.ttf);
}
.tsemibold{
    font-family:tsemibold;
}

@font-face {
        font-family:algreg;
        src: url(font/Alegreya-Regular.otf);
}
.algreg{
    font-family:algreg;
}


@font-face {
        font-family:algbold;
        src: url(font/Alegreya-Bold.otf);
}
.algbold{
    font-family:algbold;
}

